:root {
  --color-dark-blue: darkblue;
  --color-black: #000;
  --color-yellow: #ffff00;
  --color-white: #fff;

  --spacing-medim: 20px;

  --font-family-main: sans-serif;

  --font-size-header: 26px;

  --border-radius-small: 3px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-dark-blue);
  font-family: var(--font-family-main);
}